
/* basic elements */
html {
	margin: 3;
	padding: 3;
	}
body { 
	font: 75% georgia, sans-serif;
	line-height: 1.88889;
	color: #555753; 
	background-color:rgb(219, 190, 215);
	text-align: center;
	}
	}
	#footer {color: hotpink;}
	h {color: purple;}
	article {font: 120% georgia, sans-serif;}
	
	margin: 3; 
	padding: 3;
	}
p { 

    use:,  id